<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css         
    body
        h2 Confirma tu cuenta en UpTask
        p Ya casi est치s inscrito. S칩lo presiona el sig. bot칩n
        a(href="${confirmarUrl}") Reestablecer contrase침a
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
        p Si no solicitaste este e-mail, ignora este correo
        