<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Agrega tu correo electr칩nico para reestablecer la contrase침a
            if(locals.mensajes)
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error 
            form.caja-login(method="POST" action="/reestablecer")
                .campo
                    label(for="email") Correo Electr칩nico:
                    input(type="email" name="email" placeholder="Tu e-mail" required)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer contrase침a")
                .campo.acciones
                        a(href="/iniciar-sesion") Volver    