mixin crearProyecto(proyecto={})

    form(action=`/nuevo-proyecto/${proyecto.id || ''}` class="agregar-proyecto" method="POST")
        .campo
            label(for="nombre") Nombre Proyecto:
            input(value=proyecto.nombre type="text", name="nombre" id="nombre" placeholder="nombre del proyecto")
        .campo.enviar
            input(type="submit", value=`${proyecto.nombre ? 'Actualizar' : 'Agregar'}` class="boton")